/* SVG shapes */

svg, svg * {
/*  vector-effect: non-scaling-stroke !important;*/
  pointer-events: all !important;
  background-color: var(--primary-background-color);
}

/* Hover over */

.entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Bootstrap succsss */

.success-text {
  fill: #3c763d !important;
}

.success-background, .success-text-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
  stroke: #d6e9c6 !important;
  stroke-width: 1px !important;
}

/* Bootstrap info */

.info-text {
  fill: #31708f !important;
}

/*.info-background, .info-text-background {
  fill: #282828 !important;
  fill-opacity: 1 !important;
  stroke: #ffffff !important;
  stroke-width: 1px !important; 
} */

/* Bootstrap warning */

.warning-text {
  fill: #8a6d3b !important;
}

.warning-background, .warning-text-background  {
  fill: #add6a8  !important;
  fill-opacity: 1 !important;
  stroke: #add6a8 !important;
  stroke-width: 1px !important;
}

.presence-on {
  fill: #add6a8 !important;
  fill-opacity: 1 !important;
  stroke: #add6a8 !important;
  stroke-width: 1px !important;
}

.window-off {
  fill: #549939 !important;
  fill-opacity: 1 !important;
  stroke: #549939 !important;
  stroke-width: 1px !important;
}

.window-on {
  fill: #8b0d0d !important;
  fill-opacity: 1 !important;
  stroke: #8b0d0d !important;
  stroke-width: 1px !important;
}

/* Bootstrap danger */

.danger-text {
  fill: #a94442 !important;
}

.danger-background, .danger-text-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
  stroke: #ebccd1 !important;
  stroke-width: 1px !important;
}

/* Last motion entity */

.last-motion {
  stroke: #808080 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Alarm Panel */

.alarm-disarmed {
  fill: #3c763d !important;
}

.alarm-armed {
  fill: #c93d12 !important;
}

.lock-unlocked {
  fill: #3c763d !important;
  stroke: #3c763d !important;
}

.lock-locked {
  fill: #c73509 !important;
  stroke: #c73509 !important;
}

/* Camera */

.camera-idle {
  fill: #6FAECE !important; 
  stroke: #6FAECE !important;
}

/* Light */

.light-off {
  fill: #505975 !important;
  stroke: #505975 !important;
}

.light-on {
  fill: #ffe640 !important;
  stroke: #ffe640 !important;
}

.switch-off {
  fill: #505975 !important;
  stroke: #505975 !important;
}
  
.switch-on {
  fill: #ffe640 !important;
  stroke: #ffe640 !important;
}

/* Doorbell */

.doorbell-off {
/*  fill: #505975 !important;*/
  stroke: #505975 !important;
}

.doorbell-on {
/*  fill: #ffe640 !important;*/
  stroke: #ffe640 !important;
}

/* Temperature sensor */

.temp-low {
  fill: #bee3f5 !important;
  fill-opacity: 1 !important;
}

.temp-medium {
  fill: #b4f1db !important;
  fill-opacity: 1 !important;
}

.temp-high {
  fill: #f1c5c5 !important;
  fill-opacity: 1 !important;
}

.humidity-low {
  fill: #bee3f5 !important;
  fill-opacity: 1 !important;
}

.humidity-medium {
  fill: #b4f1db !important;
  fill-opacity: 1 !important;
}

.humidity-high {
  fill: #f1c5c5 !important;
  fill-opacity: 1 !important;
}

/* Media player */

.squeezebox-off {
  fill: #8AA8A7 !important;
}

.squeezebox-on {
  fill: #2baaa6 !important;
}

.climate-auto {
  stroke: #da9e1d !important;
  fill: #da9e1d !important;
  fill-opacity: 1 !important;
}

.climate-off {
  stroke: #8cbdee !important;
  fill: #8cbdee !important;
  fill-opacity: 1 !important;
}

.climate-heat {
  stroke: #ff7b7b !important;
  fill: #ff7b7b !important;
  fill-opacity: 1 !important;
}